<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

        <div class="header">
            <h1>Zahtev za priznanje ziga</h1>
        </div>
        
        <h2>1. Podnosilac prijave:</h2>
        <div class="podnosilac">
            <div class="podnosilac-first-line">
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group" formControlName="tipLicaPodnosilac">
                    <mat-radio-button class="example-radio-button" value="1" (change)="onTipLicaChangedPodnosilac()">Fizičko lice</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2" (change)="onTipLicaChangedPodnosilac()">Pravno lice</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="podnosilac-name">
                <mat-form-field [style.width.%]="40" *ngIf="fizikoLicePodnosilacChecked">
                    <mat-label>Ime:</mat-label>
                    <input matInput formControlName="imePodnosilac">
                </mat-form-field>
                <mat-form-field [style.width.%]="40" *ngIf="fizikoLicePodnosilacChecked">
                    <mat-label>Prezime:</mat-label>
                    <input matInput formControlName="prezimePodnosilac">
                </mat-form-field>
    
                <mat-form-field [style.width.%]="50" *ngIf="!fizikoLicePodnosilacChecked">
                    <mat-label>Poslovno ime:</mat-label>
                    <input matInput formControlName="poslovnoImePodnosilac">
                </mat-form-field>
            </div>
        </div>        
        <div class="address-contact">
            <div class="flex-grow-ac">
                <h3>Adresa:</h3>
                <app-address (formRawValue)="onPodnosilacAdresa($event)"></app-address>
            </div>
            <div class="flex-grow-ac">
                <h3>Kontakt:</h3>
                <app-contact (formRawValue)="onPodnosilacKontakt($event)"></app-contact>
            </div>
        </div>

        <h2>2. Punomoćnik:</h2>
        <div class="podnosilac">
            <div class="podnosilac-first-line">
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group" formControlName="tipLicaPunomocnik">
                    <mat-radio-button class="example-radio-button" value="1" (change)="onTipLicaChangedPunomocnik()">Fizičko lice</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2" (change)="onTipLicaChangedPunomocnik()">Pravno lice</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="podnosilac-first-line">
            </div>
            <div class="podnosilac-name">
                <mat-form-field [style.width.%]="40" *ngIf="fizikoLicePunomocnikChecked">
                    <mat-label>Ime:</mat-label>
                    <input matInput formControlName="imePunomocnik">
                </mat-form-field>
                <mat-form-field [style.width.%]="40" *ngIf="fizikoLicePunomocnikChecked">
                    <mat-label>Prezime:</mat-label>
                    <input matInput formControlName="prezimePunomocnik">
                </mat-form-field>
    
                <mat-form-field [style.width.%]="50" *ngIf="!fizikoLicePunomocnikChecked">
                    <mat-label>Poslovno ime:</mat-label>
                    <input matInput formControlName="poslovnoImePunomocnik">
                </mat-form-field>
            </div>
        </div>        
        <div class="address-contact">
            <span class="flex-grow-ac">
                <h3>Adresa:</h3>
                <app-address (formRawValue)="onPunomocnikAdresa($event)"></app-address>
            </span>
            <span class="flex-grow-ac">
                <h3>Kontakt:</h3>
                <app-contact (formRawValue)="onPunomocKontakt($event)"></app-contact>
            </span>
        </div>

        <h2>4. Prijava se odnosi za:</h2>
        <h3>a)</h3>
        <div>
            <mat-radio-group class="tip-znaka" [(ngModel)]="tipZiga"
                aria-labelledby="example-radio-group-label"
                class="example-radio-group" formControlName="tipZiga">
                <mat-radio-button *ngFor="let tip of tipoviZiga" [value]="tip" class="example-radio-button" value="1">
                    {{ tip }}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <h3>b)</h3>
        <div class="opis-znaka">
            <mat-radio-group [(ngModel)]="tipZnaka"
                aria-labelledby="example-radio-group-label"
                class="example-radio-group" formControlName="tipZnaka">
                <mat-radio-button *ngFor="let tip of tipoviZnaka" [value]="tip" class="example-radio-button" value="1">
                    {{ tip }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <h3>c) Izgled znaka:</h3>
        <div>
            <button class="change-profile-picture" mat-raised-button color="accent"  (click)="fileInput.click()">Choose picture</button>
            <input hidden (change)="onFileSelected($event, fileInput)" #fileInput type="file" id="file">
        </div>

        <h2>5. Boje iz kojih se znak sastoji</h2>

        <mat-form-field class="example-chip-list" appearance="fill" formControlName="boje">
            <mat-label>Add more colors</mat-label>
            <mat-chip-grid #chipGrid aria-label="Dodajte jos boja">
              <mat-chip-row *ngFor="let boja of boje"
                            (removed)="removeColor(boja)"
                            [editable]="false"
                            (edited)="editColor(boja, $event)"
                            [removable]="true"
                            >
                {{boje}}
                <button matChipRemove [attr.aria-label]="'remove ' + boja">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Nova boja..."
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addColor($event)"/>
            </mat-chip-grid>
          </mat-form-field>

        <h2>6. Transliteracija znaka*</h2>

        <mat-form-field [style.width.%]="50">
            <mat-label>Transliteracija</mat-label>
            <input matInput formControlName="transliteracija" required="false">
        </mat-form-field>

        <h2>7. Prevod znaka*</h2>

        <mat-form-field [style.width.%]="50">
            <mat-label>Prevod znaka</mat-label>
            <input matInput formControlName="prevodZnaka" required="false">
        </mat-form-field>

        <h2>8. Opis znaka*</h2>

        <mat-form-field [style.width.%]="50">
            <mat-label>Opis znaka</mat-label>
            <input matInput formControlName="opisZnaka" required="false">
        </mat-form-field>

        <h2>9. Zaokruziti brojeve klasa robe i usluga prema Nicanskoj klasifikaciji:</h2>

        <mat-checkbox *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]"
        (change)="updateSelectedNumbers(number, $event.checked)">{{ number }}</mat-checkbox>

        <h2>10. Zatrazeno pravo prvenstva i osnov</h2>

        <mat-form-field [style.width.%]="50">
            <mat-label>Zatrazeno pravo prvenstva</mat-label>
            <input matInput formControlName="zatrazenoPravo">
        </mat-form-field>

        <h2>11. Placene takse</h2>
        
        <mat-form-field [style.width.%]="25">
            <mat-label>Osnovna taksa (RSD)</mat-label>
            <input matInput type="number" formControlName="osnovnaTaksaIznos" [(ngModel)]="osnovnaTaksaIznos">
        </mat-form-field>
        
        <mat-form-field [style.width.%]="25">
            <mat-label>Taksa za graficko resenje (RSD)</mat-label>
            <input matInput type="number" formControlName="taksaZaGrafickoResenjeIznos" [(ngModel)]="taksaZaGrafickoResenjeIznos">
        </mat-form-field>
        
        <div>
            <button mat-raised-button style="margin-bottom: 3rem; margin-top: 3rem;" (click)="calculateTotalPrice()">Prikazi ukupan iznos taksi</button>
        </div>

        <div>
            <mat-label>Ukupno </mat-label>
            <mat-label matInput type="number"> <b>{{ukupanIznosTaksi}} RSD</b></mat-label>
        </div>
      
        <div class="submit-button-div">
            <button mat-raised-button>Pošalji zahtev</button>
        </div>        
    </form>
</div>