<form [formGroup]="form" class="container">
    <mat-form-field [style.width.%]="60">
        <mat-label>Ulica:</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field [style.width.%]="60">
        <mat-label>Broj:</mat-label>
        <input matInput type="number">
    </mat-form-field>

    <mat-form-field [style.width.%]="60">
        <mat-label>Postanski broj:</mat-label>
        <input matInput type="number">
    </mat-form-field>

    <mat-form-field [style.width.%]="60">
        <mat-label>Mesto:</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field [style.width.%]="60">
        <mat-label>Drzava:</mat-label>
        <input matInput>
    </mat-form-field>
</form>
