.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(140, 209, 236, 0.622);
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 8vh;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    justify-content: center;
  }
  
  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(149, 195, 249);
    box-shadow: 10px 5px 5px rgb(149, 195, 249);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgba(140, 209, 236, 0.622);
    color: white;
  }
  
  .logout-button{
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    background-color: rgba(140, 209, 236, 0.622);
  }