<form [formGroup]="form" class="container">
    <mat-form-field [style.width.%]="60">
        <mat-label>Email:</mat-label>
        <input matInput (change)="onChange()" formControlName="email" name="email">
    </mat-form-field>

    <mat-form-field [style.width.%]="60">
        <mat-label>Broj telefona:</mat-label>
        <input matInput (change)="onChange()" formControlName="broj" name="phone">
    </mat-form-field>

    <mat-form-field [style.width.%]="60">
        <mat-label>Fax:</mat-label>
        <input matInput (change)="onChange()" formControlName="fax" name="fax">
    </mat-form-field>
</form>
