<div class="body">
    <div class="background"><h1>Odaberite servis sa kojim zelite da radite</h1>

        <div class="example-button-container logout">
            <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </div>
    </div>
    <div class="background">
        
        <div class="example-ripple-container mat-elevation-z4 ripple first-service"
            matRipple
            [matRippleCentered]="true"
            [matRippleUnbounded]="false"
            (click)="firstChosen()">
            Servis za patente
        </div>
        <div class="example-ripple-container mat-elevation-z4 ripple second-service"
            matRipple
            [matRippleCentered]="true"
            [matRippleUnbounded]="false"
            (click)="secondChosen()">
            Servis za zigove
        </div>
        <div class="example-ripple-container mat-elevation-z4 ripple third-service"
            matRipple
            [matRippleCentered]="true"
            [matRippleUnbounded]="false"
            (click)="thirdChosen()">
            Servis za autorska dela
        </div>
    </div>
</div>